{% extends 'common/base.html.twig' %}

{% block library %}
    <h1>Liste des livres de la bibliothèque</h1>
    <main>
        {% for book in books %}
        <div class="livres">
            <h2>
                <a href="{{ path ('book_show', {'id' : book.id }) }}">{{ book.title }}</a>
            </h2>
            <p>({{ book.nbPages }} pages)</p>
            <h3>Auteur : {{ book.author }}</h3>
            <a href="{{ path('delete_book', {'id' : book.id}) }}">Supprimer ce livre</a>
        </div>
        {% endfor %}
    </main>

{% endblock %}
