{% extends 'admin/common/base.html.twig' %}

{% block bookContent %}
    <main class="milieu">
        <div>
            <h1 class="titre">{{ book.title }}</h1>
            <h2 class="soustitre">{{ book.author.name }} {{ book.author.firstname }}</h2>
            <P>Résumé : {{ book.resume }}</P>
            <p>Nombre de pages : {{ book.nbPages }}</p>
        </div>
    </main>
{% endblock %}